html, body, .grid-container { 
  height: 100%; 
  margin: 0; 
}

.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 2.7fr;
  grid-template-rows: 0.2fr 0.3fr 3.3fr 0.2fr;
  gap: 1px 1px;
  grid-template-areas: "Header Header" "Menu Menu" "Tools Canvas" "Footer Footer" ;
}

.Canvas {
  display: grid;
  grid-area: Canvas;
}

.Tools {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7,1fr);
  gap: 1px 1px;
  grid-template-areas: "." "." "." "." "." "." ".";
  grid-area: Tools;
}

.Menu {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "Open Save Undo Redo Download";
  grid-area: Menu;
}

.Download { grid-area: Download; }

.Redo { grid-area: Redo; }

.Undo { grid-area: Undo; }

.Save { grid-area: Save; }

.Open { grid-area: Open; }

.Footer {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: ". .";
  grid-area: Footer;
}

.Header {
  display: grid;
  grid-template-columns: 4fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: ". . .";
  grid-area: Header;
}

.grid-container * { 
 border: 1px solid red;
 position: relative;
}

.grid-container *:after { 
 position: absolute;
 top: 0;
 left: 0;
}

